#card{
    position: absolute;
    left: 30em;
    width: 50rem;
    height: 30em;
}

#caratcherName{
    position: absolute;
    left: em;
}

#actorName{
    position: absolute;
    left: 23em;
}

#age{
    position: absolute;
    top: 8em;
}

#ubication{
    position: absolute;
    top: 8em;
    left: 23em;
}

#poster{
    position: absolute;
    top: 13em;
    left: 1em;
}

#date{
    position: absolute;
    top: 12.5em;
    left: 23em;
}

#productor{
    position: absolute;
    bottom: 7em;
    left: 1em;
}